@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}



.main{
	position: relative;
	margin:0 auto;
	width:1000px;
	height:800px;
	background-color: rgb(240,248,255);
	padding-top: 100px;
}

#form{
	width: 700px;
	margin: 0px auto;
	font-size: 24px;
}

#form input{
	height:30px;
	font-size: 20px;
	margin: 10px 0;
}

#form select{
	height:30px;
	margin: 10px 0;
	font-size: 20px;
	cursor: pointer;
}

.ti{
	margin-top: 40px;
}

.blank{
	display: inline-block;

	height:20px;
	width:30px;
}

.sub{

	border:0px;
	cursor: pointer;
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,0.8);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    padding: 6px;
	width: 90px;

	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}


.sub:hover{
	background-color: rgba(219,87,5,1);
	-webkit-box-shadow: 0px 9px 0px rgba(219,31,5,0.8), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,0.8), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,0.8), 0px 9px 25px rgba(0,0,0,.7);
}

.sub:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

label.error{
	color: red;
} 