<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="CSS/book-index.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script src="js/book-index.js" type="text/javascript"></script>

</head>

<body>
<!--遮罩层-->
<div class="hide" id="mask">
  <div class="deng">
      <span>登录</span>
      <div class="deng-close" id="deng-close"></div>
      <div class="deng-wrap">
            <p>
              <label>账号：</label>
              <input type="text" name="zhang">
            </p>
            <p>
              <label>密码：</label>
              <input type="passwords" name="mi">
            </p>
            <a>立即注册</a><a>忘记密码？</a>
            <div class="deng-sub">

                <input type="submit" value="登录">

            </div>
      </div>
      
  </div>
</div>
  <div class="main">
  <!--顶部菜单-->
      <div class="top">
      <!--搜索框-->
      	<div class="seek">
	      	<form>
	      		<input type="text" name="" class="kuang"/>
	      		<input type="submit" name="" class="ka" value=""/>
	      	</form>
      	</div>
      	<div class="seek-line"></div>

         <ul class="login">
            <li><a href="#" id="login">登录</a></li>
            <li><a href="#">注册</a></li>
         </ul>
      </div>
  <!--主体-->    
      <div class="wrap">
           <div class="core">
               <div class="left-list" id="left-list">
                   <ul>
                      <li id="1"><a href="#">傻瑞
                          <span class="line line-top"></span>
   	  	                  <span class="line line-right"></span>
   	  	                  <span class="line line-bottom"></span>
   	  	                  <span class="line line-left"></span>
                      </a></li>
                      <li id="2"><a href="#">傻瑞
                          <span class="line line-top"></span>
   	  	                  <span class="line line-right"></span>
   	  	                  <span class="line line-bottom"></span>
   	  	                  <span class="line line-left"></span>
                      </a></li>
                      <li id="3"><a href="#">傻瑞
                          <span class="line line-top"></span>
   	  	                  <span class="line line-right"></span>
   	  	                  <span class="line line-bottom"></span>
   	  	                  <span class="line line-left"></span>
                      </a></li>
                      <li id="4"><a href="#">傻瑞
                          <span class="line line-top"></span>
   	  	                  <span class="line line-right"></span>
   	  	                  <span class="line line-bottom"></span>
   	  	                  <span class="line line-left"></span>
                      </a></li>
                      <li id="5"><a href="#">傻瑞
                          <span class="line line-top"></span>
   	  	                  <span class="line line-right"></span>
   	  	                  <span class="line line-bottom"></span>
   	  	                  <span class="line line-left"></span>
                      </a></li>
                      <li id="6"><a href="#">傻瑞
                          <span class="line line-top"></span>
   	  	                  <span class="line line-right"></span>
   	  	                  <span class="line line-bottom"></span>
   	  	                  <span class="line line-left"></span>
                      </a></li>
                   </ul>
               </div>
               <!--左边菜单栏结束-->
               <!--左边菜单栏内容部分开始-->
               	<div id="left-content">
					<div id="left1">
						<div><a href="#">中国近代史纲要</a><a href="#">思想道德修养与法律基础</a><a href="#">军事理论</a><a href="#">高等数学1</a><a href="#">高等数学2</a><a href="#">线性代数</a><a href="#">大学语文</a><a href="#">大学物理上</a><a href="#">大学物理下</a><a href="#">大学物理实验</a><a href="#">计算机导论</a><a href="#">程序设计基础</a><a href="#">电路分析</a></div>
						<div><a href="#">马克思主义基本原理概论</a><a href="#">概率论与数理统计</a><a href="#">数字电子技术</a><a href="#">模拟电子技术</a><a href="#">信号与系统</a><a href="#">EDA技术</a><a href="#">单片机原理应用</a><a href="#">计算机组成原理</a><a href="#">面向对象程序设计</a><a href="#">离散数学</a><a href="#">密码学数学基础</a></div>
						<div><a href="#">毛泽东思想</a><a href="#">密码学</a><a href="#">Matlab工程应用</a><a href="#">数字信号处理</a><a href="#">信号处理工程实践</a><a href="#">信号检测与分析</a><a href="#">电路版图设计及仿真</a><a href="#">计算机软件技术基础</a><a href="#">通信原理</a><a href="#">信息论基础</a><a href="#">密码设备原理与实践</a><a href="#">数字系统设计</a><a href="#">密码算法工程实现</a><a href="#">DSP原理与应用</a><a href="#">密码应用技术</a><a href="#">信息安全技术</a><a href="#">计算机网络应用</a><a href="#">密码智能卡技术</a><a href="#">虚拟仪器技术</a><a href="#">数字图像处理</a><a href="#">语音信号处理及加密</a><a href="#">网络安全协议</a><a href="#">网络对抗技术</a><a href="#">pki技术与应用</a><a href="#">网络安全与保密技术</a><a href="#">现代通信技术</a></div>
						<div><a href="#">专用集成电路设计</a><a href="#">密码设备测评</a><a href="#">终端密码通信</a><a href="#">电磁防护技术</a><a href="#">无线网络技术</a></div>
					</div>
					<div id="left2">
					2
					</div>
					<div id="left3">
					3
					</div>
					<div id="left4">
					4
					</div>
					<div id="left5">
					5
					</div>
					<div id="left6">
					6
					</div>   
               	</div>
               	<!--中间部分-->
               	<div class="centre">
               		
               	</div>

               <!--图片轮播开始-->
               <div id="container">
					   	  <div id="list">
					   	  	    <img src="images/b5.jpg" alt="1"/>
							    <img src="images/b1.jpg" alt="1"/>
							    <img src="images/b2.jpg" alt="2"/>
							    <img src="images/b3.jpg" alt="3"/>
							    <img src="images/b4.jpg" alt="4"/>
							    <img src="images/b5.jpg" alt="5"/>
							    <img src="images/b1.jpg" alt="5"/>
					   	  </div>
					   	  <div id="but">
					            <span index="1" class="on"></span>
					            <span index="2"></span>
					            <span index="3"></span>
					            <span index="4"></span>
					            <span index="5"></span>
					   	  </div>
					   	  <span id="prev"></span>
					   	  <span id="next"></span>
   				</div>
   				<!--图片轮播结束-->
   				<div class="right-wrap">
	   				<div class="right-list">

	   				</div>
	   				<!--右栏内容开始-->
	   				<div class="right-content">
                		
	   				</div>
	   				<!--右栏内容结束-->
		   		</div>		
           </div>
           <!--core结束-->
      </div>
  
  </div>
</body>
</html>
